.footer {
	margin-top: 13px;
	padding-top: 100px;
	padding-bottom: 10px;
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
	position: relative;
	color: white;
	@include media-breakpoint-down(lg) { 
		padding-top:61px;
		padding-bottom: 20px;
	}
	@include media-breakpoint-down(md) { 
		padding-top: 100px; 
	}
	a {
		color: white;
		&:hover {
			color: $hover;
		}
	}
	ul {
		padding-left: 0;
	}

	h3 {
		font-weight: 300;
		font-size: 35px;
		margin-bottom: 50px;
		letter-spacing: 1px;
		@include media-breakpoint-down(md) { 
			margin-bottom: 29px; 
		}
		span {
			color: $hover;
		}
	}

	h4 {
		color: $hover;
		font-size: 20px;
	}

	.contacts-list {
		padding-left: 0;
		@include media-breakpoint-down(md) { 
			margin-bottom: 46px; 
		}
		li {
			margin-bottom: 16px;
	    font-size: 17px;
	    display: flex;
	    align-items: center;
	    @include media-breakpoint-down(md) { 
	    	font-size: 16px; 
	    	margin-bottom: 12px;
	    }
		}
		.icon {
			margin-right: 14px;
			@include media-breakpoint-down(md) { 
				margin-right: 5px;
			}
		}
		.mail-link {
			color: $hover;
			&:hover {
				color: white;
			}
		}
	}

	.contacts-form {
		input {
			width: 100%;
			height: 57px;
			border: none !important;
			box-shadow: none !important;
			font-weight: 300;
			margin-bottom: 15px;
			@include media-breakpoint-down(md) { 
				height: 55px; 
			}
		}
		input { @include placeholder {
	   color: #999 !important;

	 	}}
	 	textarea {
	 		height: 120px;
	 		width: 100%;
	 		margin-bottom: 10px;
	 	}
	 	.btn-custom {
	 		width: 100%;
	 		border-radius: 0;
	 	}
	}

	.brand-img {
		margin-top: 70px;
		margin-bottom: 32px;
		@include media-breakpoint-down(md) { 
			margin-top: 57px; 
			margin-bottom: 40px;
		}
		img {
			width: 143px;
		}
	}

	.second-row {
		margin-bottom: 16px;
		p {
			font-size: 17px;
			line-height: 1.3;
		}
	}

	.second-contacts-list {
		padding-left: 0;
		font-size: 17px;
		margin-bottom: 9px;
		@include media-breakpoint-down(md) { 
			margin-bottom: 17px; 
		}
	}

	.footer-menu {
		@include media-breakpoint-down(md) { 
			margin-bottom: 13px; 
		}
		a {
			font-size: 16px;
    	letter-spacing: 0.4px;
		}
	}

	.call-us {
    font-size: 21px;
    color: $hover;
    display: inline-block;
    margin-bottom: 9px;
    &:hover {
    	color: white;
    }
	}

	.social-links {
		display: flex;
		li {
			margin-right: 18px;
			a:hover {
				opacity: 0.6;
			}
		}
	}

	.copyright {
		color: #808080;
		text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-align: center;
    @include media-breakpoint-down(lg) { 
    	 padding-top: 30px;
    }
    @include media-breakpoint-down(md) { 
    	text-align: left;
    	padding-top: 24px; 
    	font-size: 9px;
    }
	}
}